[phases.setup]
nixPkgs = ["python39"]

[phases.install]
cmds = ["pip install -r requirements.txt"]

[phases.build]
cmds = ["python seed_data.py"]

[start]
cmd = "uvicorn app.main:app --host 0.0.0.0 --port $PORT"
